

*{margin: 0;}


body {
    font-family: sans-serif;
    
    
}
h1 {
    text-transform: uppercase;
    font-size: 48px;
}


.third-head {
    border: 1px solid #ffffff;
    background-color: rgba(0,0,0,0.5);
    width: 831px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 129px;
    text-transform: uppercase;
    font-size: 54px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    padding-right: 100px;
    
}

.picture1 {
    background-image: url(bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 650px;
    width: 100%;
}

.first-block {
    position: relative;
    left: 100px;
    bottom: -300px;
    color: #ffffff;
    
}

h2 {
    margin: 20px 0;
    font-size: 18px;
}

.word-we {
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #f1ad1d;
    background-color: #fff;
    width: 152px;
    height: 129px;
}


.low-text {
    color:  #4d4943;
    font-size: 17px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 50px;
}

.text {
    color:  #333333;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 50px;
    
}

.poloska {
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
}

.part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
}
    

.part2 div {
    margin-left: 10px;
}

.part2 {
    display: flex;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
    
}

.picture2 {
    display: flex;
    flex-direction: column;
    background-image: url(bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 100%;
}



.yellow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:  #f1ad1d;
}

.picture3 {
    display: flex;
    flex-direction: column;
    background-image: url(bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 100%;
}



.logo-images {
    
}

.poloska2 {
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    margin-top: 50px;
}

.picture4 {
    display: flex;
    flex-direction: column;
    background-image: url(bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 100%;
}

.low-text2 {
    color: #ffffff;
    font-size: 17px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-bottom: 50px;
}

.yellow-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f1ad1d;
    text-decoration: none;
}
